<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2">

    <test name="TriangleTests">
        <classes>
            <class name="tests.TestTriangleTypes">
                <methods>
                    <include name="triangleTest001"/>
                    <include name="triangleTest002"/>
                    <include name="triangleTest003"/>
                    <include name="triangleTest004"/>
                    <include name="triangleTest005"/>
                    <include name="triangleTest006"/>
                    <include name="triangleTest007"/>
                    <include name="triangleTest008"/>
                    <include name="triangleTest009"/>
                    <include name="triangleTest010"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>